Options +FollowSymLinks -MultiViews -Indexes

# Turn mod_rewrite on
RewriteEngine On
RewriteBase /

# Request URL for API RESTfull Services
#RewriteRule ^api/(.*)/?$ api/RestFullAPI.php?request=$1 [QSA,NC,L]

RewriteRule ^api/(.*)$ api/RestFullAPI.php?request=$1 [NC]
RewriteRule ^(.*)$ index.php?request=$1 [NC]